.reveal .slides section .emoji {
  font-size: 100px;
}

.reveal .slides section img[alt*='wanadoo-logo'] {
  position: absolute;
  left: 250px;
  top: 200px;
  width: 250px;
}

.reveal .slides section img[alt*='gmail-logo'] {
  width: 5em;
  float: left;
  margin-right: 40px;
}

.reveal .slides section.logo-and-list p {
  display: inline-flex;
  vertical-align: top;
  margin-top: 3em;
}

.reveal .slides ul {
  margin-left: 50px;
  margin-top: 50px;
}

.reveal .slides section img[alt*='green-check'] {
  width: 50px;
}

.reveal .slides section img[alt*='red-cross'] {
  width: 75px;
}

/* .reveal .slides section.email-providers ul {
  list-style-type: none;
  padding: 0;
} */

.reveal .slides section.email-providers img {
  margin-bottom: 5em;
  margin-right: 5em;
}

.reveal .slides section img[alt*='protonmail-logo'],
.reveal .slides section img[alt*='posteo-logo'] {
  width: 500px;
}

.reveal .slides section img[alt*='protonvpn-logo'] {
  width: 40px;
}

.reveal .slides section td {
  vertical-align: middle;
}

.reveal .slides section img[alt*='encryption'] {
  position: absolute;
  top: 7em;
  left: 9em;
}

.reveal .slides section .author {
  float: right;
}

.reveal .slides section.recap-slide td {
  font-size: 1em;
}

.reveal .slides section.recap-slide img[alt*='protonvpn-logo'] {
  width: 30px;
}

.reveal .slides section.other-email-providers img {
  margin-bottom: 1em;
  margin-right: 1em;
}

.reveal .slides section img[alt*='ecomail-logo'],
.reveal .slides section img[alt*='startmail-logo'],
.reveal .slides section img[alt*='criptext-logo'],
.reveal .slides section img[alt*='disroot-logo'] {
  width: 500px;
}

.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) {
  background-image: url('../assets/images/devoxx-logo.png'), url('../assets/images/fond_ecran_devoxx.png');
  background-repeat: no-repeat;
  background-size: 10em, 100%;
  /* background-position: left bottom; */
  background-position: 0% 90%, right bottom;
}